<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.u9526.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.SEARCH" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="androd.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity android:name=".ChooseIdentity" />
        <activity android:name=".NormalLogin" />
        <activity android:name=".Tenant_register2" />
        <activity android:name=".TenantRegister" />
        <activity android:name=".LandlordRegister" />
        <activity android:name=".NormalRegister" />
        <activity android:name=".homepage" />
        <activity android:name=".Landlord_info" />
        <activity android:name=".rent_homepgae" />
        <activity android:name=".rent_collection" />
        <activity android:name=".rent_message" />
        <activity android:name=".rent_personalData" />
        <activity android:name=".FillRentInfo1" />
        <activity android:name=".FillRentInfo2" />
        <activity android:name=".FillRentInfo3" />
        <activity android:name=".FillRentInfo4" />
        <activity android:name=".FillRentInfo5" />
        <activity android:name=".TenantRegister3" />
        <activity android:name=".rent_homepage__search___attribute" />
        <activity android:name=".rent_homepage__search" />
        <activity android:name=".rent_homepage__search___region" />
        <activity android:name=".tenant_register3" />
        <activity android:name=".landlord_register3" />
        <activity android:name=".testregion.keysearch" />
        <activity android:name=".recommend.main_recommend" />
        <activity android:name=".recommend.Showhousedetail"></activity>
    </application>

</manifest>